/.idea/
/BCK/
/Lib/
/Scripts/
/__pycache__
/robohatlib/__pycache__
/robohatlib/driver_ll/__pycache__/
/robohatlib/driver_ll/constants/__pycache__/
/robohatlib/driver_ll/i2c/__pycache__/
/robohatlib/hal/definitions/__pycache__/
/doc/
__pycache__
/.gitattributes
/_doc
/robohatlib/Document1.txt
