/.idea/
/BCK/
/Lib/
/Scripts/
/__pycache__
/robohatlib/__pycache__
/robohatlib/driver_ll/__pycache__/
/robohatlib/driver_ll/constants/__pycache__/
/robohatlib/driver_ll/i2c/__pycache__/
/robohatlib/hal/definitions/__pycache__/
__pycache__
/.gitattributes
/shutdown_files/README.txt
/shutdown_files/install.sh
/shutdown_files/makeself-2.5.0.run
/shutdown_files/makeselfcommands.txt
/shutdown_files/poweroff.py
/shutdown_files/shutdown.service
/shutdown_files/shutdown.sh
