/.idea/
/BCK/
/Lib/
/Scripts/
/__pycache__
/robohatlib/__pycache__
/robohatlib/driver_ll/__pycache__/
/robohatlib/driver_ll/constants/__pycache__/
/robohatlib/driver_ll/i2c/__pycache__/
/robohatlib/hal/definitions/__pycache__/
/doc/
__pycache__
/.gitattributes
/_doc
/robohatlib/Document1.txt
/OLD/_doc/latex/_example__main_8dox.tex
/OLD/_doc/html/_pwm_plug_8py.html
/OLD/_doc/html/_pwm_plug_8py.js
/OLD/_doc/latex/_pwm_plug_8py.tex
/OLD/_doc/html/_pwm_plug_8py_source.html
/OLD/_doc/latex/_pwm_plug_8py_source.tex
/OLD/_doc/html/_robohat_8py.html
/OLD/_doc/html/_robohat_8py.js
/OLD/_doc/latex/d9/db6/_robohat_8py.tex
/OLD/_doc/latex/_robohat_8py.tex
/OLD/_doc/html/_robohat_8py_source.html
/OLD/_doc/latex/_robohat_8py_source.tex
/OLD/_doc/latex/d3/d29/_robohat__config_8py.tex
/OLD/_doc/latex/_robohat__config_8py.tex
/OLD/_doc/latex/_robohat__config_8py_source.tex
/OLD/_doc/latex/da/d7b/_robohat__constants_8py.tex
/OLD/_doc/latex/_robohat__constants_8py.tex
/OLD/_doc/latex/_robohat__constants_8py_source.tex
/OLD/_doc/html/_robohat_config_8py.html
/OLD/_doc/html/_robohat_config_8py.js
/OLD/_doc/latex/_robohat_config_8py.tex
/OLD/_doc/html/_robohat_config_8py_source.html
/OLD/_doc/latex/_robohat_config_8py_source.tex
/OLD/_doc/html/_robohat_constants_8py.html
/OLD/_doc/html/_robohat_constants_8py.js
/OLD/_doc/latex/_robohat_constants_8py.tex
/OLD/_doc/html/_robohat_constants_8py_source.html
/OLD/_doc/latex/_robohat_constants_8py_source.tex
/OLD/_doc/html/search/all_0.js
/OLD/_doc/html/search/all_1.js
/OLD/_doc/html/search/all_2.js
/OLD/_doc/html/search/all_3.js
/OLD/_doc/html/search/all_4.js
/OLD/_doc/html/search/all_5.js
/OLD/_doc/html/search/all_6.js
/OLD/_doc/html/search/all_7.js
/OLD/_doc/html/search/all_8.js
/OLD/_doc/html/search/all_9.js
/OLD/_doc/html/search/all_a.js
/OLD/_doc/html/search/all_b.js
/OLD/_doc/html/search/all_c.js
/OLD/_doc/html/search/all_d.js
/OLD/_doc/html/search/all_e.js
/OLD/_doc/html/annotated.html
/OLD/_doc/latex/annotated.tex
/OLD/_doc/html/annotated_dup.js
/OLD/_doc/html/assemblyboards_dipswitch.png
/OLD/_doc/images/assemblyboards_dipswitch.png
/OLD/_doc/html/bc_s.png
/OLD/_doc/html/bc_sd.png
/OLD/_doc/latex/class_buzzer_1_1_buzzer.tex
/OLD/_doc/latex/class_buzzer__driver_1_1_buzzer__driver.tex
/OLD/_doc/latex/class_buzzer_def_1_1_buzzer_def.tex
/OLD/_doc/latex/class_color_1_1_color.eps
/OLD/_doc/latex/class_color_1_1_color.tex
/OLD/_doc/latex/class_expander_direction_1_1_expanderdir.eps
/OLD/_doc/latex/class_expander_direction_1_1_expanderdir.tex
/OLD/_doc/latex/class_expander_status_1_1_e_x_p_a_n_d_e_r_s_t_a_t_u_s.eps
/OLD/_doc/latex/class_expander_status_1_1_e_x_p_a_n_d_e_r_s_t_a_t_u_s.tex
/OLD/_doc/latex/class_g_p_i___definition_1_1_g_p_i___definition.tex
/OLD/_doc/latex/class_g_p_i___interrupt_definition_1_1_g_p_i___i_n_t_e_r_r_u_p_t_d_e_f_i_n_i_t_i_o_n.tex
/OLD/_doc/latex/class_g_p_i___l_l___driver_1_1_g_p_i___l_l___driver.tex
/OLD/_doc/latex/class_g_p_i___l_l___interrupt_1_1_g_p__interrupt.tex
/OLD/_doc/latex/class_g_p_i_definition_1_1_g_p_i_definition.tex
/OLD/_doc/latex/class_g_p_i_interrupt_definition_1_1_g_p_i_interrupt_definition.tex
/OLD/_doc/latex/class_g_p_i_o___direction_1_1_g_p_i_o_d_i_r_e_c_t_i_o_n.eps
/OLD/_doc/latex/class_g_p_i_o___direction_1_1_g_p_i_o_d_i_r_e_c_t_i_o_n.tex
/OLD/_doc/latex/class_g_p_i_o___direction_1_1_gpio_direction.eps
/OLD/_doc/latex/class_g_p_i_o___direction_1_1_gpio_direction.tex
/OLD/_doc/latex/class_g_p_o___def_1_1_g_p_o___def.tex
/OLD/_doc/latex/class_g_p_o___l_l___driver_1_1_g_p_o___l_l___driver.tex
/OLD/_doc/latex/class_g_p_o___stat_1_1_g_p_o_s_t_a_t.eps
/OLD/_doc/latex/class_g_p_o___stat_1_1_g_p_o_s_t_a_t.tex
/OLD/_doc/latex/class_g_p_o___stat_1_1_g_p_o_stat.eps
/OLD/_doc/latex/class_g_p_o___stat_1_1_g_p_o_stat.tex
/OLD/_doc/latex/class_g_p_o_def_1_1_g_p_o_def.tex
/OLD/_doc/latex/class_g_p_o_p_p_w_m___def_1_1_g_p_o_p_w_m___def.tex
/OLD/_doc/latex/class_g_p_o_p_w_m___l_l___driver_1_1_g_p_o_p_w_m___l_l___driver.tex
/OLD/_doc/latex/class_hat_a_d_c_1_1_hat_a_d_c.tex
/OLD/_doc/latex/class_i2_c___bus_1_1_i2_c___bus.tex
/OLD/_doc/latex/class_i2_c___device___definition_1_1_i2_c___device___definition.tex
/OLD/_doc/latex/class_i2_c___handler_1_1_i2_c___handler.tex
/OLD/_doc/latex/class_i2_c_bus_def_1_1_i2_c_bus_def.tex
/OLD/_doc/latex/class_i2_c_device_1_1_i2_c_device.tex
/OLD/_doc/latex/class_i_m_u_1_1_i_m_u.tex
/OLD/_doc/latex/class_i_m_u___def_1_1_i_m_u___def.tex
/OLD/_doc/latex/class_i_o__expander__def_1_1_i_o__expander__def.tex
/OLD/_doc/latex/class_i_o_expander_1_1_i_o_expander.tex
/OLD/_doc/latex/class_i_o_expander_def_1_1_i_o_expander_def.tex
/OLD/_doc/latex/class_i_o_handler_1_1_i_o_handler.tex
/OLD/_doc/latex/class_interrupt_types_1_1_i_n_t_e_r_r_u_p_t_t_y_p_e_s.eps
/OLD/_doc/latex/class_interrupt_types_1_1_i_n_t_e_r_r_u_p_t_t_y_p_e_s.tex
/OLD/_doc/latex/class_interrupt_types_1_1_interrupt_types.eps
/OLD/_doc/latex/class_interrupt_types_1_1_interrupt_types.tex
/OLD/_doc/latex/class_l_i_s3_m_d_l_1_1_l_i_s3_m_d_l.tex
/OLD/_doc/latex/class_l_s_m6_d_s33_1_1_l_s_m6_d_s33.tex
/OLD/_doc/latex/class_led___definition_1_1_led___definition.tex
/OLD/_doc/latex/class_led__driver_1_1_led__driver.tex
/OLD/_doc/latex/class_led_multicolor_1_1_led_multicolor.tex
/OLD/_doc/latex/class_m_a_x11137_1_1_m_a_x11137.tex
/OLD/_doc/latex/class_m_a_x11607_1_1_m_a_x11607.tex
/OLD/_doc/latex/class_m_c_p23008_1_1_m_c_p23008.tex
/OLD/_doc/latex/class_m_c_p___init_struct_1_1_m_c_p___i_n_i_t_s_t_r_u_c_t.tex
/OLD/_doc/latex/class_m_c_p___interrupt_definition_1_1_m_c_p___i_n_t_e_r_r_u_p_t_d_e_f_i_n_i_t_i_o_n.tex
/OLD/_doc/latex/class_mcp_init_struct_1_1_mcp_init_struct.tex
/OLD/_doc/latex/class_multi_color___led___definition_1_1_multi_color___led___definition.tex
/OLD/_doc/latex/class_p_c_a9685_1_1_p_c_a9685.tex
/OLD/_doc/latex/class_power_management_1_1_power_management.tex
/OLD/_doc/latex/class_power_monitor_and_i_o_1_1_p_o_w_e_r_m_o_n_i_t_o_r_a_n_d_i_o.tex
/OLD/_doc/latex/class_pwm_plug_1_1_pwm_plug.eps
/OLD/_doc/html/class_pwm_plug_1_1_pwm_plug.html
/OLD/_doc/html/class_pwm_plug_1_1_pwm_plug.png
/OLD/_doc/latex/class_pwm_plug_1_1_pwm_plug.tex
/OLD/_doc/html/class_pwm_plug_1_1_pwm_plug-members.html
/OLD/_doc/latex/class_robo_util_1_1_robo_util.tex
/OLD/_doc/html/class_robohat_1_1_robohat.html
/OLD/_doc/html/class_robohat_1_1_robohat.js
/OLD/_doc/latex/d3/d60/class_robohat_1_1_robohat.tex
/OLD/_doc/latex/class_robohat_1_1_robohat.tex
/OLD/_doc/html/class_robohat_1_1_robohat-members.html
/OLD/_doc/latex/class_s_p_i___bus___definition_1_1_s_p_i___bus___definition.tex
/OLD/_doc/latex/class_s_p_i___definition_1_1_s_p_i___definition.tex
/OLD/_doc/latex/class_s_p_i___device_1_1_s_p_i___device.tex
/OLD/_doc/latex/class_serial_1_1_serial.tex
/OLD/_doc/latex/class_serial___definition_1_1_serial___definition.tex
/OLD/_doc/latex/class_servo_assembly_1_1_servo_assembly.tex
/OLD/_doc/latex/class_servo_assembly_config_1_1_servo_assembly_config.tex
/OLD/_doc/latex/class_servo_board_1_1_servo_board.tex
/OLD/_doc/latex/class_servo_data_1_1_servo_data.tex
/OLD/_doc/html/classes.html
/OLD/_doc/html/search/classes_0.js
/OLD/_doc/html/search/classes_1.js
/OLD/_doc/latex/classsmbus_1_1_s_m_bus.tex
/OLD/_doc/latex/classsmbus_1_1i2c__msg.eps
/OLD/_doc/latex/classsmbus_1_1i2c__msg.tex
/OLD/_doc/latex/classsmbus_1_1i2c__rdwr__ioctl__data.eps
/OLD/_doc/latex/classsmbus_1_1i2c__rdwr__ioctl__data.tex
/OLD/_doc/html/search/close.svg
/OLD/_doc/html/closed.png
/OLD/_doc/html/dir_6acad4b402f028c1c46568e28ff279c9.html
/OLD/_doc/html/dir_6acad4b402f028c1c46568e28ff279c9.js
/OLD/_doc/latex/dir_6acad4b402f028c1c46568e28ff279c9.tex
/OLD/_doc/latex/dir_e9a25214b93d307c6c94e5e0f7740a15.tex
/OLD/_doc/latex/dir_e68e8157741866f444e17edd764ebbae.tex
/OLD/_doc/html/doc.svg
/OLD/_doc/html/docd.svg
/OLD/_doc/latex/doxygen.sty
/OLD/_doc/html/doxygen.svg
/OLD/_doc/html/dynsections.js
/OLD/_doc/latex/etoc_doxygen.sty
/OLD/_doc/html/files.html
/OLD/_doc/latex/files.tex
/OLD/_doc/html/search/files_0.js
/OLD/_doc/html/search/files_1.js
/OLD/_doc/html/search/files_2.js
/OLD/_doc/html/search/files_3.js
/OLD/_doc/html/files_dup.js
/OLD/_doc/html/folderclosed.svg
/OLD/_doc/html/folderclosedd.svg
/OLD/_doc/html/folderopen.svg
/OLD/_doc/html/folderopend.svg
/OLD/_doc/html/functions.html
/OLD/_doc/html/search/functions_0.js
/OLD/_doc/html/search/functions_1.js
/OLD/_doc/html/search/functions_2.js
/OLD/_doc/html/search/functions_3.js
/OLD/_doc/html/search/functions_4.js
/OLD/_doc/html/search/functions_5.js
/OLD/_doc/html/search/functions_6.js
/OLD/_doc/html/search/functions_7.js
/OLD/_doc/html/search/functions_8.js
/OLD/_doc/html/search/functions_9.js
/OLD/_doc/html/functions_func.html
/OLD/_doc/html/functions_vars.html
/OLD/_doc/html/graph_voltage_to_angle.png
/OLD/_doc/images/graph_voltage_to_angle.png
/OLD/_doc/html/hardware.html
/OLD/_doc/latex/hardware.tex
/OLD/_doc/html/hardware_8dox.html
/OLD/_doc/latex/hardware_8dox.tex
/OLD/_doc/html/hierarchy.html
/OLD/_doc/html/hierarchy.js
/OLD/_doc/latex/hierarchy.tex
/OLD/_doc/html/IMU.png
/OLD/_doc/images/IMU.png
/OLD/_doc/html/index.html
/OLD/_doc/latex/index.tex
/OLD/_doc/html/jquery.js
/OLD/_doc/latex/longtable_doxygen.sty
/OLD/_doc/html/search/mag.svg
/OLD/_doc/html/search/mag_d.svg
/OLD/_doc/html/search/mag_sel.svg
/OLD/_doc/html/search/mag_seld.svg
/OLD/_doc/html/mainpage_8dox.html
/OLD/_doc/latex/mainpage_8dox.tex
/OLD/_doc/latex/make.bat
/OLD/_doc/latex/Makefile
/OLD/_doc/html/menu.js
/OLD/_doc/html/menudata.js
/OLD/_doc/latex/namespace_p_c_a9685.tex
/OLD/_doc/html/namespace_pwm_plug.html
/OLD/_doc/html/namespace_pwm_plug.js
/OLD/_doc/latex/namespace_pwm_plug.tex
/OLD/_doc/html/namespace_robohat.html
/OLD/_doc/html/namespace_robohat.js
/OLD/_doc/latex/de/d7c/namespace_robohat.tex
/OLD/_doc/latex/namespace_robohat.tex
/OLD/_doc/latex/db/dc2/namespace_robohat__config.tex
/OLD/_doc/latex/namespace_robohat__config.tex
/OLD/_doc/latex/df/dc8/namespace_robohat__constants.tex
/OLD/_doc/latex/namespace_robohat__constants.tex
/OLD/_doc/html/namespace_robohat_config.html
/OLD/_doc/latex/namespace_robohat_config.tex
/OLD/_doc/html/namespace_robohat_constants.html
/OLD/_doc/latex/namespace_robohat_constants.tex
/OLD/_doc/html/namespacemembers.html
/OLD/_doc/html/namespacemembers_vars.html
/OLD/_doc/html/namespaces.html
/OLD/_doc/latex/namespaces.tex
/OLD/_doc/html/search/namespaces_0.js
/OLD/_doc/html/search/namespaces_1.js
/OLD/_doc/html/namespaces_dup.js
/OLD/_doc/latex/namespacesmbus.tex
/OLD/_doc/html/nav_f.png
/OLD/_doc/html/nav_fd.png
/OLD/_doc/html/nav_g.png
/OLD/_doc/html/nav_h.png
/OLD/_doc/html/nav_hd.png
/OLD/_doc/html/navtree.css
/OLD/_doc/html/navtree.js
/OLD/_doc/html/navtreedata.js
/OLD/_doc/html/navtreeindex0.js
/OLD/_doc/html/open.png
/OLD/_doc/html/page2.html
/OLD/_doc/latex/page2.tex
/OLD/_doc/html/pages.html
/OLD/_doc/html/search/pages_0.js
/OLD/_doc/html/search/pages_1.js
/OLD/_doc/html/search/pages_2.js
/OLD/_doc/html/powerboard.png
/OLD/_doc/images/powerboard.png
/OLD/_doc/latex/refman.tex
/OLD/_doc/html/resize.js
/OLD/_doc/images/robohat.PNG
/OLD/_doc/html/robohat.png
/OLD/_doc/html/search/search.css
/OLD/_doc/html/search/search.js
/OLD/_doc/html/search/searchdata.js
/OLD/_doc/html/servo.png
/OLD/_doc/images/servo.png
/OLD/_doc/images/servo_assembly.png
/OLD/_doc/html/servo_assembly_back.jpg
/OLD/_doc/images/servo_assembly_back.jpg
/OLD/_doc/html/splitbar.png
/OLD/_doc/html/splitbard.png
/OLD/_doc/html/sync_off.png
/OLD/_doc/html/sync_on.png
/OLD/_doc/html/tab_a.png
/OLD/_doc/html/tab_ad.png
/OLD/_doc/html/tab_b.png
/OLD/_doc/html/tab_bd.png
/OLD/_doc/html/tab_h.png
/OLD/_doc/html/tab_hd.png
/OLD/_doc/html/tab_s.png
/OLD/_doc/html/tab_sd.png
/OLD/_doc/html/tabs.css
/OLD/_doc/latex/tabu_doxygen.sty
/OLD/_doc/html/topboard.png
/OLD/_doc/images/topboard.png
/OLD/_doc/html/topboard_bottom.jpg
/OLD/_doc/images/topboard_bottom.jpg
/OLD/_doc/images/topboard_connections.png
/OLD/_doc/html/topboard_dipswitch.png
/OLD/_doc/images/topboard_dipswitch.png
/OLD/_doc/html/search/variables_0.js
/OLD/_doc/html/search/variables_1.js
/OLD/_doc/html/search/variables_2.js
/OLD/_doc/html/search/variables_3.js
/OLD/_doc/html/search/variables_4.js
/OLD/_doc/html/search/variables_5.js
/OLD/_doc/html/search/variables_6.js
/OLD/_doc/html/search/variables_7.js
/OLD/_doc/html/search/variables_8.js
/OLD/_doc/css/vu_doxygen.css
/OLD/_doc/html/vu_doxygen.css
/OLD/_doc/html/VU_logo_RGB-01.png
/OLD/_doc/images/VU_logo_RGB-01.png
/OLD/_doc/latex/VU_logo_RGB-01.png
