[Unit]
Description=Random beep at startup
After=multi-user.target

[Service]
Type=oneshot
User=robo
ExecStart=python /home/robo/bin/buzz_random.py

[Install]
WantedBy=multi-user.target

